input[list]::-webkit-calendar-picker-indicator {
    display: none;
}
h1 {
    color: red
}
input[list] {
    width: 100%;
}
li {
    list-style: none;
}
.focusNone:focus {
    outline: none !important;
}
.boxShadownNone {
    box-shadow: none !important;
}
ul.options {
    display: block;
    list-style: none;
    width: 30rem;
    transition: width 0.3s;
    margin: auto;
    position: relative;
  }
  
  ul.options li {
    display: block;
    background: white;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 2px;
  }
  ul.options li:hover {
    font-weight: bold;
    color: #00b4cc;
    cursor: pointer;
    transition: 0.3s all;
  }
  
  ul.options li.option-active {
    background: whitesmoke;
    font-size: 1.5rem;
    color: #00b4cc;
  }
  .no-options {
    color: white;
  }