body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.border-radius-none {
  border-radius: none !important;
}
.border-none {
  border: none !important;
}
<<<<<<< HEAD
=======
.modal news-details__modal .show {
  transition: .4s;
}
>>>>>>> b3bdca10fbf0b32da6aaaacbe2dfe3875e084e5e
